
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon"
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"
@import "../../bower_components/fontawesome/scss/font-awesome"

@import "mixins"
@import "glyphs"

html
  height: 100%

body
  font-weight: 400
  font-size: 12pt
  font-family: 'Open Sans','Courier New', 'Lucida Console', sans-serif
  background-color: white
  min-height: 100% !important
  height: 100%
  color: #333
  text-align: center

.belowHeader
  min-height: calc(100% - 60px)
  height: calc(100% - 60px)
  position: relative
  top: 60px

footer
  background-color: black
  position: absolute
  bottom: 0px
  width: 100%
  height: 60px
  padding: 0 50px 0 50px

header
  background-color: #333
  position: fixed
  top: 0px
  width: 100%
  height: 60px
  padding: 0 50px 0 50px
  z-index: 9999
  color: white
  h2
    font-size: 16pt
    line-height: 60px
    margin: 0

h1
  font-family: 'Montserrat', sans-serif
  font-weight: 600

.homePage
  //background-color: rgba(0,0,0,0.8)
  min-height: 100%
  padding-top: 50px

.row
  margin: 0
  @include breakpoint(lg)
    margin: inherit

.universe
  min-height: 100% !important
  height: 100%

.glyphicon
  margin-right: 5px

.no-mobile
  display: none !important
  @include breakpoint(lg)
    display: inherit !important
.mobile-only
  display: inherit !important
  @include breakpoint(lg)
    display: none !important
.tablet-only
  display: none
  @include breakpoint(md)
    display: inherit
  @include breakpoint(lg)
    display: none
.no-tablet
  display: inherit
  @include breakpoint(md)
    display: none
  @include breakpoint(lg)
    display: inherit
.no-phone
  display: none !important
  @include breakpoint(md)
    display: inherit !important
.phone-only
  display: inherit !important
  @include breakpoint(md)
    display: none !important
