title Geoffrey Caven | Developer
link(href="app.css" rel="stylesheet")
link(href="/" rel="canonical")
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
link(href='https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display|Playfair+Display+SC|Quicksand|Rubik|Raleway|Source+Code+Pro',rel='stylesheet',type='text/css')
meta(name="application-name", content="Geoffrey Caven Resume Site")
meta(name="msapplication-TileColor", content="#FFFFFF")
meta(name="msapplication-TileImage", content="mstile-144x144.png")
meta(name="msapplication-square70x70logo", content="mstile-70x70.png")
meta(name="msapplication-square150x150logo", content="mstile-150x150.png")
meta(name="msapplication-wide310x150logo", content="mstile-310x150.png")
meta(name="msapplication-square310x310logo", content="mstile-310x310.png")
