@import "mixins.scss";
@import "shared.scss";

@import "title.scss";
@import "header.scss";
@import "hero.scss";
@import "navbar.scss";
@import "below-fold.scss";
@import "skills.scss";
@import "portfolio.scss";

.universe {
  font-family: 'Avenir Next';
  letter-spacing: 1px;
  background-color: $bg-black;
  color: white;

  height: 100%;

  body {
    height: 100%;
  }

  html {
    height: 100%;
  }

  h1 {
    font-weight: 100;
    font-size: 2.5em;
    text-align: center;
  }

  .block {
    padding-top: 100px;

    .third-row {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-content: center;
      justify-content: center;
    }

    .third {
      width: 33%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .third-title {
        width: 100%;

        h2 {
          width: 100%;
          text-align: center;
          font-weight: 400;
          margin-bottom: 2px;
        }

        .underline {
          height: 1px;
          width: 40px;
          margin: auto;
          background-color: $accent-yellow;
          margin-bottom: 40px;
        }
      }
    }
  }

  .footer {
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    p {
      margin: 0;
      transition: all 250ms;

      &:hover {
        color: $accent-yellow;
      }
    }
  }
}
