@import "shared.scss";
@import "mixins.scss";

@import "header.scss";
@import "hero.scss";
@import "below-fold.scss";

.universe {
  font-family: 'Avenir Next';
  letter-spacing: 1px;

  height: 100%;
}
