@import "mixins.scss";
@import "shared.scss";

@import "title.scss";
@import "header.scss";
@import "hero.scss";
@import "navbar.scss";
@import "below-fold.scss";
@import "skills.scss";
@import "portfolio.scss";
@import "contact.scss";

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

.universe {
  font-family: 'Lato';
  letter-spacing: 1px;
  background-color: $bg-black;
  color: white;

  height: 100%;

  body {
    height: 100%;
  }

  html {
    height: 100%;
  }

  h1 {
    font-weight: 300;
    font-size: 2.5em;
    text-align: center;
  }

  a {
    color: $accent-yellow;
  }

  .block {
    min-height: 100vh;

    .row {
      width: $content-width-mobile;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      justify-content: center;

      &.no-collapse {
        flex-direction: row;
      }

      @include breakpoint(lg) {
        width: 70%;
        flex-direction: row;
      }
    }

    .title {
      width: 100%;

      h2 {
        width: 100%;
        text-align: center;
        font-weight: 400;
        margin-bottom: 2px;
      }

      .underline {
        height: 1px;
        width: 40px;
        margin: auto;
        background-color: $accent-yellow;
        margin-bottom: 40px;
      }
    }

    .half {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      margin-bottom: 40px;

      @include breakpoint(lg) {
        width: 50%;
        margin-bottom: 0px;
      }
    }

    .third {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      margin-bottom: 40px;

      @include breakpoint(lg) {
        width: 33%;
        margin-bottom: 0px;
      }
    }
  }

  .footer {
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    p {
      margin: 0;
      transition: all 250ms;

      &:hover {
        color: $accent-yellow;
      }
    }
  }
}
