@import "shared.scss";
@import "mixins.scss";

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 600px;
  height: 80px;

  background-color: rgba(0,0,0,0.5);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  z-index: 9999;
  opacity: 0;

  transition: all $easing-time;

  #brand {
    position: absolute;
    padding-left: 20px;
    font-size: 2em;
    margin: 0;
    line-height: 80px;
    display: none;

    @include breakpoint(lg) {
        display: block;
    }
  }

  &.visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
    opacity: 1;
  }
}
