@import "shared.scss";

.nav-bar {
  height: 100%;

  .entry-container {
    width: 30%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .entry {
      display: inline-block;
      font-size: 14px;
      letter-spacing: 2px;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      padding: 10px 10px;
      margin: 0px 5px;
      border-radius: 5px;
      transition: background-color $easing-time, color $easing-time;

      @include breakpoint(tablet) {
        font-size: 16px;
        padding: 10px 30px;
      }

      &:hover, &.active {
        background-color: #FFFFFF50;
        color: $accent-yellow;
      }
    }
  }
}
