$gradient-width: 300px;

.portfolio-item {
  width: 70%;
  height: 300px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;

  .preview {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-image: url("../assets/images/bg2.jpg");
    background-size: cover;
    z-index: 1;
  }

  .text {
    position: absolute;
    height: 100%;
    left: calc(50% - #{$gradient-width});
    z-index: 10;
    padding-left: 200px;

    .gradient {
      position: absolute;
      left: 0;
      top: 0;
      width: $gradient-width;
      height: 100%;
      z-index: -1;
      background: linear-gradient(90deg, rgba(16,16,16,0) 0%, rgba(16,16,16,1) 100%)
    }
  }

  h2 {
    font-weight: 100;
    margin-bottom: 10px;
  }
  h3 {
    font-weight: 100;
    margin-top: 0px;
  }

}
