@import "mixins.scss";

.skill-item {
  width: calc(50% - 2px);
  height: 150px;
  text-align: center;

  img {
    width: 75px;
    height: 75px;

    @include breakpoint(xlg) {
      width: 100px;
      height: 100px;
    };
  }

  .label {
    text-align: center;
    font-size: 1em;

    @include breakpoint(xlg) {
      font-size: 1.2em;
    };
  }
}

.portfolio-item {
  .skill-item {
    width: 75px;
    height: 75px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .label {
    font-size: 0.75em;
  }
}
