.text {
  font-size: 1em;
  letter-spacing: 0.02em;
  line-height: 1.5;

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
  
  &.center {
    text-align: center;
  }

  &.regular {
    font-weight: 400;
  }

  &.medium {
    font-weight: 500;
  }
  
  &.bold {
    font-weight: 700;
  }
}