.heading {
  margin: 0 0 16px;
  font-weight: var(--font-weight-regular);
  font-family: 'Sorts Mill Goudy', serif;
  letter-spacing: 0.02em;
  text-align: center;
}

h1.heading {
  font-size: 3em;
}

h2.heading {
  font-size: 2em;
}

h3.heading {
  font-size: 1.5em;
}

h4.heading {
  font-size: 1.25em;
}